@font-face {
    font-family: 'Nav';
    src: url('/static/fonts/KrivulyaRegular.ttf');
}

header{
    background-color: goldenrod;
    height: 100px;
    display: flex;
    justify-content: center;
    font-family: 'Nav';
    gap: 20px;
    align-items: center;
}

a{
    color: black;
    text-decoration: none;
    font-size: 30px;
    transition: 200ms;
}

a:hover {
    color: brown;
    background-color: burlywood;
}

footer{
    text-align: center;
}
